<h2 class="flex justify-content-center align-items-center h-full">
  Quên mật khẩu
</h2>
<h4 class="flex justify-content-center align-items-center h-full text-gray-500">
  Nhập gmail để khôi phục khẩu
</h4>
<form [formGroup]="recoverpassword">
  <p-card [style]="{ width: '360px' }">
    <div class="text-center mb-4 alert alert-success fade show" variant="success" role="alert">Nhập gmail để tiến hành tạo mật khẩu mới!</div>
    <div class="field">
      <label for="recoverpassword">Nhập gmail</label>
      <input
        type="text"
        pInputText
        formControlName="recoverpassword"
        class="w-full"
        name="recoverpassword"
        placeholder="gmail"
      />
      <small
        *ngIf="recoverpassword.invalid && (recoverpassword.dirty || recoverpassword.touched)"
        class="block p-error"
      >
        <div *ngIf="recoverpassword.errors?.['required']">Cần nhập gmail</div>
      </small>
    </div>
    <p-button
      label="Gửi"
      styleClass="w-full"
      [disabled]="recoverpassword.invalid"
    ></p-button>
  </p-card>
  <div class="mt-2 justify-content-center align-items-center">
    Nhớ mật khẩu? <a routerLink="/login"> Đăng Nhập </a>
  </div>
</form>

