<div class="chat-container">

    <div class="left-column">
        <div class="taskbar">
            <button><i class="fas fa-user"></i></button>
            <button><i class="fas fa-envelope"></i></button>
            <button><i class="fas fa-address-book"></i></button>
            <div class="spacer"></div>
            <button><i class="fas fa-cloud"></i></button>
            <button><i class="fas fa-toolbox"></i></button>
            <button><i class="fas fa-cog"></i></button> <!-- Example for setting -->
        </div>
        
    </div>
    
    
    <!-- Mid Column -->
    <div class="mid-column">
        <h3>Chat</h3>   
        <!-- Search Message -->
        <div class="search-container">
            <input type="text" placeholder="Search messages or users">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>

        <div class="online-users">
            <div class="online-users-grid">
                <div class="user">
                    <img src="https://media.allure.com/photos/6290f260fbf12093193b08ee/1:1/w_2000,h_2000,c_limit/5-27%20olivia%20rodrigo.jpg" alt="User Avatar">
                    <div class="online-dot"></div>
                    <p>Doris</p>
                </div>
                <div class="user">
                    <img src="https://assets.bbhub.io/media/sites/8/2023/07/Oliver-Crook-Berlin-1024x1024.jpg" alt="User Avatar">
                    <div class="online-dot"></div>
                    <p>Liam</p>
                </div>
                <div class="user">
                    <img src="https://media.pitchfork.com/photos/5deecbfac573b80009766dc9/master/pass/lp1.jpg" alt="User Avatar">
                    <div class="online-dot"></div>
                    <p>Patrick</p>
                </div>
                <div class="user">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Johnny_Depp_as_Captain_Jack_Sparrow_in_Queensland%2C_Australia.jpg/640px-Johnny_Depp_as_Captain_Jack_Sparrow_in_Queensland%2C_Australia.jpg" alt="User Avatar">
                    <div class="online-dot"></div>
                    <p>Jack</p>
                </div>
                <!-- Add more online users here -->
            </div>
        </div>

        <div class="recent-chats">
            <h4>Recent</h4>
            <div class="chat-list">
                <div class="chat">
                    <div class="avatar"><img src="https://media.pitchfork.com/photos/5deecbfac573b80009766dc9/master/pass/lp1.jpg" alt="User Avatar"></div>
                    <div class="chat-details">
                        <div class="username">Patrick</div>
                        <div class="last-message">Hey! there I'm available</div>
                    </div>
                    <div class="timestamp">1:30AM</div>
                </div>
                <div class="chat">
                    <div class="avatar"><img src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2022/5/26/1049336/Noah-Thompson.jpg" alt="User Avatar"></div>
                    <div class="chat-details">
                        <div class="username">Noah</div>
                        <div class="last-message">Typing...</div>
                    </div>
                    <div class="timestamp">10:00 AM</div>
                </div>
                <div class="chat">
                    <div class="avatar"><img src="https://pbs.twimg.com/profile_images/1324782032124215296/HMG6-q8g_400x400.jpg" alt="User Avatar"></div>
                    <div class="chat-details">
                        <div class="username">James</div>
                        <div class="last-message">Nice to meet you</div>
                    </div>
                    <div class="timestamp">2:59 AM</div>
                </div>
                <div class="chat">
                    <div class="avatar"><img src="https://images2.thanhnien.vn/zoom/686_429/Uploaded/truongnghi/2020_06_04/raul1_MPZM.jpg" alt="User Avatar"></div>
                    <div class="chat-details">
                        <div class="username">Raul </div>
                        <div class="last-message">Yeah everything is fine</div>
                    </div>
                    <div class="timestamp">1:23 PM</div>
                </div>
                <div class="chat">
                    <div class="avatar"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Johnny_Depp_as_Captain_Jack_Sparrow_in_Queensland%2C_Australia.jpg/640px-Johnny_Depp_as_Captain_Jack_Sparrow_in_Queensland%2C_Australia.jpg" alt="User Avatar"></div>
                    <div class="chat-details">
                        <div class="username">Jack</div>
                        <div class="last-message">Gold night</div>
                    </div>
                    <div class="timestamp">11:55 PM</div>
                </div>
            </div>
        </div>
        
        
        
    </div>

    <!-- Right Column -->
    <div class="right-column">
        <div class="chat-box">

            <div class="header">
    <div class="user-info">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Johnny_Depp_as_Captain_Jack_Sparrow_in_Queensland%2C_Australia.jpg/640px-Johnny_Depp_as_Captain_Jack_Sparrow_in_Queensland%2C_Australia.jpg" alt="User Avatar">
        <div class="chat-details">
            <div class="username">Jack</div>
            <div class="timestamp">Last active 2 hours</div>
        </div>
    </div>
    <div class="options">
        <button><i class="fas fa-search"></i></button>
        <button><i class="fas fa-phone"></i></button>
        <button><i class="fas fa-video"></i></button>
        <button><i class="fas fa-info-circle"></i></button>
    </div>
    
    
</div>



            <div class="main-chat-area">
                <div class="message received">
                    <p>Hi, how's your English coming along?</p>
                    <div class="timestamp">7:00 AM</div>
                </div>
                <div class="message sent">
                    <p>Slowly but surely. How about you?</p>
                    <div class="timestamp">9:50 AM</div>
                </div>

                <div class="message received">
                    <p> It's a bit challenging. Do you have any tips?</p>
                    <div class="timestamp">12:33 PM</div>
                </div>

                <div class="message sent">
                    <p>Yeah, practice speaking as much as possible. Have you tried language exchange apps?</p>
                    <div class="timestamp">14:50 PM</div>
                </div>

                <div class="message received">
                    <p> Not yet, are they helpful?</p>
                    <div class="timestamp">17:22 PM</div>
                </div>

                <div class="message sent">
                    <p>Definitely worth a shot. Let's give them a try together</p>
                    <div class="timestamp">19:00 PM</div>
                </div>
                
                <!-- Add more messages here -->
            </div>
            <div class="message-input">
                <!-- <div class="message-icons">
                    <button><i class="fas fa-paperclip"></i></button> 
                    <button><i class="fas fa-image"></i></button> 
                    <button><i class="fas fa-sticky-note"></i></button> 
                </div> -->
                <textarea placeholder="Your message..."></textarea>
                <button><i class="fa fa-paper-plane"></i> Send</button>
            </div>
            
        </div>
    </div>
</div>

