<div class="online-users">
    <div class="online-users-grid">
        <div class="user">
            <img src="https://media.allure.com/photos/6290f260fbf12093193b08ee/1:1/w_2000,h_2000,c_limit/5-27%20olivia%20rodrigo.jpg" alt="User Avatar">
            <div class="online-dot"></div>
            <p>Doris</p>
        </div>
        <div class="user">
            <img src="https://assets.bbhub.io/media/sites/8/2023/07/Oliver-Crook-Berlin-1024x1024.jpg" alt="User Avatar">
            <div class="online-dot"></div>
            <p>Liam</p>
        </div>
        <div class="user">
            <img src="https://media.pitchfork.com/photos/5deecbfac573b80009766dc9/master/pass/lp1.jpg" alt="User Avatar">
            <div class="online-dot"></div>
            <p>Patrick</p>
        </div>
        <div class="user">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Johnny_Depp_as_Captain_Jack_Sparrow_in_Queensland%2C_Australia.jpg/640px-Johnny_Depp_as_Captain_Jack_Sparrow_in_Queensland%2C_Australia.jpg" alt="User Avatar">
            <div class="online-dot"></div>
            <p>Jack</p>
        </div>
        <!-- Add more online users here -->
    </div>
</div>