/* search-user.component.css */
.search-container {
    margin-bottom: 20px;
    padding-top: 15px;
    padding-left: 20px;
    position: relative;
}

.search-container input[type="text"] {
    padding: 10px 20px 10px 40px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
}

.search-container button {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 24px 8px 8px 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button i {
    font-size: 18px;
    color: #555;
}

.search-container button:hover {
    background-color: #f0f0f0;
}
