<div class="recent-chats">
    <h4>Recent</h4>
    <div class="chat-list">
        <div class="chat">
            <div class="avatar"><img src="https://media.pitchfork.com/photos/5deecbfac573b80009766dc9/master/pass/lp1.jpg" alt="User Avatar"></div>
            <div class="chat-details">
                <div class="username">Patrick</div>
                <div class="last-message">Hey! there I'm available</div>
            </div>
            <div class="timestamp">1:30AM</div>
        </div>
        <div class="chat">
            <div class="avatar"><img src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2022/5/26/1049336/Noah-Thompson.jpg" alt="User Avatar"></div>
            <div class="chat-details">
                <div class="username">Noah</div>
                <div class="last-message">Typing...</div>
            </div>
            <div class="timestamp">10:00 AM</div>
        </div>
        <div class="chat">
            <div class="avatar"><img src="https://pbs.twimg.com/profile_images/1324782032124215296/HMG6-q8g_400x400.jpg" alt="User Avatar"></div>
            <div class="chat-details">
                <div class="username">James</div>
                <div class="last-message">Nice to meet you</div>
            </div>
            <div class="timestamp">2:59 AM</div>
        </div>
        <div class="chat">
            <div class="avatar"><img src="https://images2.thanhnien.vn/zoom/686_429/Uploaded/truongnghi/2020_06_04/raul1_MPZM.jpg" alt="User Avatar"></div>
            <div class="chat-details">
                <div class="username">Raul </div>
                <div class="last-message">Yeah everything is fine</div>
            </div>
            <div class="timestamp">1:23 PM</div>
        </div>
        <div class="chat">
            <div class="avatar"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Johnny_Depp_as_Captain_Jack_Sparrow_in_Queensland%2C_Australia.jpg/640px-Johnny_Depp_as_Captain_Jack_Sparrow_in_Queensland%2C_Australia.jpg" alt="User Avatar"></div>
            <div class="chat-details">
                <div class="username">Jack</div>
                <div class="last-message">Gold night</div>
            </div>
            <div class="timestamp">11:55 PM</div>
        </div>
    </div>
</div>
