<h2 class="flex justify-content-center align-items-center h-full">
  Đăng nhập tài khoản
</h2>
<h4 class="flex justify-content-center align-items-center h-full text-gray-500">
  Đăng nhập tài khoản để sử dụng ChatSE
</h4>



<form [formGroup]="loginForm">
  <p-card [style]="{ width: '360px' }">
    <div class="field">
      <label for="email">Email</label>
      <input
        type="text"
        pInputText
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Nhập email"
      />
      <small
        *ngIf="email.invalid && (email.dirty || email.touched)"class="block p-error">
        <div *ngIf="email.errors?.['required']">Cần nhập mật khẩu</div>
      </small>
    </div>

    <div class="field">
      <div class="">
        <label for="password">Mật khẩu</label>

      </div>
        <input
        type="text"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Nhập mật khẩu"
      />
      <small
        *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
        <div *ngIf="password.errors?.['required']">Cần nhập mật khẩu</div>
      </small>
    </div>
    <p-button

      label="Đăng nhập"
      styleClass="w-full"
      [disabled]="loginForm.invalid"
    ></p-button>
    <div ><a routerLink="/recoverpassword" class="mt-4 flex">Quên mật khẩu? </a></div>
  </p-card>
  <div class="mt-2 justify-content-center align-items-center">
    Không có tài khoản? <a routerLink="/signup"> Đăng ký </a>
  </div>
</form>
