/* chat-box.component.css */
.chat-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    flex-grow: 1;
}

.header {
    background-color: #4267B2;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-details {
    flex-grow: 1;
    overflow: hidden;
}

.username {
    font-weight: bold;
    margin-bottom: 2px;
}

.user-info .timestamp {
    color: rgb(231, 218, 218);
}

.timestamp {
    font-size: 11px;
    color: #999;
}

.online-dot {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
}

.options button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.options button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.main-chat-area {
    padding: 20px;
    height: 80%;
    overflow-x: auto;
    flex-direction: column;
}

.message {
    border-radius: 8px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
    position: relative;
    display: flex;
    padding: 0;
}

.message p {
    margin: 0;
}

.message .timestamp {
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 12px;
    color: #999;
}

.message.sent {
    background-color: #DCF8C6;
    color: #333;
    border-radius: 20px;
    margin: 20px 0 10px auto;
    padding: 10px 15px;
    align-self: flex-end;
    display: block;
    width: fit-content;
    max-width: 80%;
}

.message.received {
    background-color: #e0e0e0;
    color: #333;
    border-radius: 20px;
    margin: 20px auto 10px 0;
    padding: 10px 15px;
    align-self: flex-start;
    display: block;
    width: fit-content;
    max-width: 80%;
}

.message-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f2f5;
    border-top: 1px solid #ccc;
    padding: 10px 20px;
}

.message-icons {
    display: flex;
    align-items: center;
}

.message-icons button {
    color: #606770;
    border: none;
    padding: 8px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.message-icons button.left {
    background-color: #fff;
}

.message-icons button.right {
    background-color: #0084ff;
}

.message-icons button:hover {
    color: #000;
}

.message-icons button i {
    font-size: 18px;
}

.message-input textarea {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    resize: none;
    font-size: 14px;
    background-color: #fff;
    margin-right: 15px;
}

.message-input button {
    background-color: #0084ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.message-input button:hover {
    background-color: #0056b3;
}
