<div class="chat-box">

    <div class="header">
<div class="user-info">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Johnny_Depp_as_Captain_Jack_Sparrow_in_Queensland%2C_Australia.jpg/640px-Johnny_Depp_as_Captain_Jack_Sparrow_in_Queensland%2C_Australia.jpg" alt="User Avatar">
<div class="chat-details">
    <div class="username">Jack</div>
    <div class="timestamp">Last active 2 hours</div>
</div>
</div>
<div class="options">
<button><i class="fas fa-search"></i></button>
<button><i class="fas fa-phone"></i></button>
<button><i class="fas fa-video"></i></button>
<button><i class="fas fa-info-circle"></i></button>
</div>


</div>



    <div class="main-chat-area">
        <div class="message received">
            <p>Hi, how's your English coming along?</p>
            <div class="timestamp">7:00 AM</div>
        </div>
        <div class="message sent">
            <p>Slowly but surely. How about you?</p>
            <div class="timestamp">9:50 AM</div>
        </div>

        <div class="message received">
            <p> It's a bit challenging. Do you have any tips?</p>
            <div class="timestamp">12:33 PM</div>
        </div>

        <div class="message sent">
            <p>Yeah, practice speaking as much as possible. Have you tried language exchange apps?</p>
            <div class="timestamp">14:50 PM</div>
        </div>

        <div class="message received">
            <p> Not yet, are they helpful?</p>
            <div class="timestamp">17:22 PM</div>
        </div>

        <div class="message sent">
            <p>Definitely worth a shot. Let's give them a try together</p>
            <div class="timestamp">19:00 PM</div>
        </div>
        
        <!-- Add more messages here -->
    </div>
    <div class="message-input">
        <!-- <div class="message-icons">
            <button><i class="fas fa-paperclip"></i></button> 
            <button><i class="fas fa-image"></i></button> 
            <button><i class="fas fa-sticky-note"></i></button> 
        </div> -->
        <textarea placeholder="Your message..."></textarea>
        <button><i class="fa fa-paper-plane"></i> Send</button>
    </div>
    
</div>
